<div class="center home_wrapper">
	<div id="home_title">You own too much shit.</div>
	<div id="home_subtitle">Consolidate all your belongings into 99 things. <br>Remind yourself when you must replace your belongings. <br>Track how much money it costs.</div>
	<%= link_to 'sign up. you know you want to click this.', '#', class: 'signup_btn' %>
</div>