@import "colors.css.scss";
@import "fonts.css.scss";

html{
	background: $midYellow;
	font-family: $source;
}

/* UNIVERSAL */

.center{
	text-align: center;
}

body{
	min-width: 1000px;
}


/* NAVBAR */

.navbar-inner{
	height: 56px;
	box-shadow: none !important;
	background: $midYellow !important;

}

.container{
	padding: 0px !important;
	width: 100% !important;
}

#logo_container{
	width: 100px;
}

#logo{
	font-size: 20px;
	font-weight: bold;
	color: black;
	text-decoration: none;

	#logo_box{
		color: white;
		float: left;
		padding: 5px;
		margin-top: -5px;
		width: 23px;
		background: black;
	}

	#logo_text{
		margin-top: 16px;
	}
}

ul.nav{
	a.normal{
		margin-top: -25px;
		font-weight: bold;
		font-size: 12px;
		color: black !important;
		-webkit-transition: color 0.7s;
		padding-right: 0px !important;
		padding-left: 50px !important;

		&:hover{
			color: $darkGray !important;
			-webkit-transition: color 1s;
			-webkit-transition: color 0.7s;
		}
	}
}

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}