@import "colors.css.scss";
@import "fonts.css.scss";

.home_wrapper{
	background: $midYellow;
	padding-top: 150px;

	#home_title{
		text-transform: uppercase;
		font-size: 45px;
		font-weight: 900;
	}

	#home_subtitle{
		font-family: $rokkitt;
		padding: 50px 0px 80px 0px;
		font-size: 17px;
	}

	.signup_btn{
		color: white;
		background: $pink;
		padding: 30px 70px;
		font-size: 17px;
		text-transform: uppercase;
		font-weight: 200;
		-webkit-transition: background 0.7s;
		&:hover{
			text-decoration: none;
			background: $transPink;
			-webkit-transition: background 0.7s;
		}
	}
}