<header class="navbar navbar-static-top">
	<div class="navbar-inner">
		<div class="container">
			<div id="logo_container">
				<a href="/" id="logo">
					<div id="logo_box">99</div>
					<div id="logo_text">things</div>
				</a>
			</div>

			<ul class="nav pull-right">
				<li><%= link_to "SIGN IN", '#', class: "normal" %></li>
				<li><%= link_to "SIGN UP", '#', class: "normal" %></li>
			</ul>
		</div>
	</div>
</header>